# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
misc/old_london.zip
misc/scroll/noun_Scroll_308110.png
misc/scroll/scroll.png
misc/scroll/Új szöveges dokumentum.txt
mockup/comfortaa.zip
mockup/index.html
mockup/pink_chicken.zip
mockup/PinkChicken-Regular.ttf
mockup/stanberry.zip
mockup/stilus.css
mockup/Új szöveges dokumentum.txt
mockup/bg/mountain.png
mockup/bg/rock.png
mockup/bg/snow.png
mockup/bg/Új szöveges dokumentum.txt
mockup/comfortaa/Comfortaa-Bold.ttf
mockup/comfortaa/Comfortaa-Light.ttf
mockup/comfortaa/Comfortaa-Regular.ttf
mockup/comfortaa/donate.html
mockup/comfortaa/FONTLOG.txt
mockup/comfortaa/OFL.txt
mockup/stanberry/Stanberry.ttf
